---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
import { getCollection } from "astro:content";

const allPosts = (await getCollection("posts", ({ data }) => !data.draft))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const posts = allPosts.slice(0, 5);
const hasMore = allPosts.length > 5;
---

<BaseLayout title="EngineeringExec - practitioner's blog">
  {posts.map((post) => (
    <PostCard
      title={post.data.title}
      slug={post.data.slug}
      date={post.data.date}
      categories={post.data.categories}
      description={post.data.description}
    />
  ))}

  {hasMore && (
    <div class="more-posts-wrapper">
      <a href="/all-posts" class="more-posts-link">More posts →</a>
    </div>
  )}
</BaseLayout>
